# 默认编译目标：RISC-V 64 位裸机平台
# 使 cargo build 自动进行交叉编译，无需每次指定 --target
[build]
target = "riscv64gc-unknown-none-elf"

# QEMU 运行器配置
# cargo run 时自动调用此命令执行编译产物
# 等价于：qemu-system-riscv64 -machine virt -nographic -bios none -kernel <编译产物>
[target.riscv64gc-unknown-none-elf]
runner = [
    "qemu-system-riscv64",
    "-machine", "virt",
    "-bios", "none",
    "-device", "virtio-gpu-device,xres=800,yres=600", # 推荐：将设备及其属性放在同一个字符串中
    "-serial", "stdio",
    "-display", "sdl",
    "-kernel",
]